openapi: 3.2.0
info:
  title: Order.co Status Maintenance API
  version: v2
  summary: The public, unauthenticated status API for the Order.co platform, served by Atlassian Statuspage at status.order.co.
  description: 'Order.co publishes a public status page at https://status.order.co/, hosted on Atlassian Statuspage (page id ckzwmwkw4x3f). That page exposes the standard Statuspage v2 JSON API anonymously, and Order.co itself serves the endpoint reference at https://status.order.co/api. It is the only first-party, self-serve, machine-readable *operational* API Order.co publishes: current platform status, the component list, open and historical incidents, and scheduled maintenance windows. Every operation is a GET, requires no authentication, and returns JSON.


    This document is GENERATED by API Evangelist from the endpoint reference Order.co serves at https://status.order.co/api and from live responses fetched on 2026-08-04 (saved under examples/). All eight paths returned HTTP 200 anonymously on that date. Response schemas describe the fields actually observed in those live responses. Nothing is invented.


    Note the scope. This is the status API. It is not the Order.co procurement, accounts-payable or spend-management API — Order.co markets API connectivity to QuickBooks Online, NetSuite, Sage Intacct and Workday, and issues vendor API/EDI credentials during vendor onboarding, but publishes no developer portal, no reference and no machine-readable spec for any of it.


    A caveat a reader should have: at capture time the only incident this page had ever published was the Statuspage default sample record, "This is an example incident" (id yn6q124l9xx6, created 2025-03-20). The page has one component, "Order.co Application (app.order.co)".'
  contact:
    name: Order.co
    url: https://www.order.co/demo/
  termsOfService: https://www.order.co/terms-and-conditions/
  x-provenance:
    method: generated
    source: https://status.order.co/api
    generated: '2026-08-04'
    note: Generated by API Evangelist from the Order.co-hosted Statuspage v2 endpoint reference plus live anonymous probes; not published as an OpenAPI by Order.co or Atlassian.
servers:
- url: https://status.order.co/api/v2
  description: Production (Atlassian Statuspage, page id ckzwmwkw4x3f)
security: []
tags:
- name: Maintenance
  description: Scheduled maintenance windows.
paths:
  /scheduled-maintenances.json:
    get:
      operationId: listScheduledMaintenances
      summary: List all scheduled maintenance windows
      tags:
      - Maintenance
      responses:
        '200':
          description: Scheduled maintenances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledMaintenanceList'
              examples:
                live:
                  externalValue: examples/orderco-status-scheduled-maintenances.json
  /scheduled-maintenances/active.json:
    get:
      operationId: listActiveScheduledMaintenances
      summary: List maintenance windows in progress right now
      tags:
      - Maintenance
      responses:
        '200':
          description: Active scheduled maintenances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledMaintenanceList'
              examples:
                live:
                  externalValue: examples/orderco-status-scheduled-maintenances-active.json
  /scheduled-maintenances/upcoming.json:
    get:
      operationId: listUpcomingScheduledMaintenances
      summary: List maintenance windows scheduled for the future
      tags:
      - Maintenance
      responses:
        '200':
          description: Upcoming scheduled maintenances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledMaintenanceList'
              examples:
                live:
                  externalValue: examples/orderco-status-scheduled-maintenances-upcoming.json
components:
  schemas:
    Page:
      type: object
      description: Identity of the status page itself. Present on every response.
      properties:
        id:
          type: string
          description: Statuspage page code. Observed value ckzwmwkw4x3f.
        name:
          type: string
          description: Display name. Observed value "Order".
        url:
          type: string
          format: uri
        time_zone:
          type: string
          description: IANA time zone the page renders in. Observed value America/New_York.
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - url
      - updated_at
    IncidentUpdate:
      type: object
      description: One dated update posted against an incident.
      properties:
        id:
          type: string
        status:
          type: string
          enum:
          - investigating
          - identified
          - monitoring
          - resolved
          - postmortem
        body:
          type: string
        incident_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        display_at:
          type: string
          format: date-time
        affected_components:
          type:
          - array
          - 'null'
          items:
            type: object
        deliver_notifications:
          type: boolean
        custom_tweet:
          type:
          - string
          - 'null'
        tweet_id:
          type:
          - string
          - 'null'
      required:
      - id
      - status
      - body
      - incident_id
    ScheduledMaintenance:
      type: object
      description: A planned maintenance window. Order.co had published none at capture time, so this schema is modelled on the Statuspage maintenance object as documented on status.order.co/api and on the shared incident fields observed live; its optional fields are marked as such rather than asserted.
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
          - scheduled
          - in_progress
          - verifying
          - completed
        scheduled_for:
          type: string
          format: date-time
        scheduled_until:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        impact:
          type: string
          enum:
          - none
          - minor
          - major
          - critical
          - maintenance
        shortlink:
          type: string
          format: uri
        page_id:
          type: string
        incident_updates:
          type: array
          items:
            $ref: '#/components/schemas/IncidentUpdate'
        components:
          type: array
          items:
            $ref: '#/components/schemas/Component'
      required:
      - id
      - name
      - status
    Component:
      type: object
      description: One reported service. Fields as observed in the live components response.
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          description: Component health. Observed value "operational".
          enum:
          - operational
          - degraded_performance
          - partial_outage
          - major_outage
          - under_maintenance
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        position:
          type: integer
        description:
          type:
          - string
          - 'null'
        showcase:
          type: boolean
        start_date:
          type:
          - string
          - 'null'
          format: date
        group_id:
          type:
          - string
          - 'null'
        page_id:
          type: string
        group:
          type: boolean
        only_show_if_degraded:
          type: boolean
      required:
      - id
      - name
      - status
      - page_id
    ScheduledMaintenanceList:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        scheduled_maintenances:
          type: array
          items:
            $ref: '#/components/schemas/ScheduledMaintenance'
