openapi: 3.2.0
info:
  title: Order.co Status Components API
  version: v2
  summary: The public, unauthenticated status API for the Order.co platform, served by Atlassian Statuspage at status.order.co.
  description: 'Order.co publishes a public status page at https://status.order.co/, hosted on Atlassian Statuspage (page id ckzwmwkw4x3f). That page exposes the standard Statuspage v2 JSON API anonymously, and Order.co itself serves the endpoint reference at https://status.order.co/api. It is the only first-party, self-serve, machine-readable *operational* API Order.co publishes: current platform status, the component list, open and historical incidents, and scheduled maintenance windows. Every operation is a GET, requires no authentication, and returns JSON.


    This document is GENERATED by API Evangelist from the endpoint reference Order.co serves at https://status.order.co/api and from live responses fetched on 2026-08-04 (saved under examples/). All eight paths returned HTTP 200 anonymously on that date. Response schemas describe the fields actually observed in those live responses. Nothing is invented.


    Note the scope. This is the status API. It is not the Order.co procurement, accounts-payable or spend-management API — Order.co markets API connectivity to QuickBooks Online, NetSuite, Sage Intacct and Workday, and issues vendor API/EDI credentials during vendor onboarding, but publishes no developer portal, no reference and no machine-readable spec for any of it.


    A caveat a reader should have: at capture time the only incident this page had ever published was the Statuspage default sample record, "This is an example incident" (id yn6q124l9xx6, created 2025-03-20). The page has one component, "Order.co Application (app.order.co)".'
  contact:
    name: Order.co
    url: https://www.order.co/demo/
  termsOfService: https://www.order.co/terms-and-conditions/
  x-provenance:
    method: generated
    source: https://status.order.co/api
    generated: '2026-08-04'
    note: Generated by API Evangelist from the Order.co-hosted Statuspage v2 endpoint reference plus live anonymous probes; not published as an OpenAPI by Order.co or Atlassian.
servers:
- url: https://status.order.co/api/v2
  description: Production (Atlassian Statuspage, page id ckzwmwkw4x3f)
security: []
tags:
- name: Components
  description: The individual services Order.co reports health for.
paths:
  /components.json:
    get:
      operationId: listComponents
      summary: List reported components
      description: 'Every component Order.co reports health for. One component was published at capture time: "Order.co Application (app.order.co)" (id 729hctp265l8, created 2025-03-24).'
      tags:
      - Components
      responses:
        '200':
          description: Components
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    $ref: '#/components/schemas/Page'
                  components:
                    type: array
                    items:
                      $ref: '#/components/schemas/Component'
              examples:
                live:
                  externalValue: examples/orderco-status-components.json
components:
  schemas:
    Page:
      type: object
      description: Identity of the status page itself. Present on every response.
      properties:
        id:
          type: string
          description: Statuspage page code. Observed value ckzwmwkw4x3f.
        name:
          type: string
          description: Display name. Observed value "Order".
        url:
          type: string
          format: uri
        time_zone:
          type: string
          description: IANA time zone the page renders in. Observed value America/New_York.
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - url
      - updated_at
    Component:
      type: object
      description: One reported service. Fields as observed in the live components response.
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          description: Component health. Observed value "operational".
          enum:
          - operational
          - degraded_performance
          - partial_outage
          - major_outage
          - under_maintenance
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        position:
          type: integer
        description:
          type:
          - string
          - 'null'
        showcase:
          type: boolean
        start_date:
          type:
          - string
          - 'null'
          format: date
        group_id:
          type:
          - string
          - 'null'
        page_id:
          type: string
        group:
          type: boolean
        only_show_if_degraded:
          type: boolean
      required:
      - id
      - name
      - status
      - page_id
