openapi: 3.2.0
info:
  title: Order.co Content Discovery API
  version: wp/v2
  summary: The public, anonymous WordPress REST API behind www.order.co.
  description: 'Order.co runs www.order.co on WordPress and leaves the WordPress REST API open for anonymous reads. It is not the Order.co procurement API — that surface is customer- and vendor-gated and has no public documentation — but it is a real, first-party, self-describing machine-readable API, and it carries content an agent actually wants: 271 blog posts, 47 pages, 36 customer stories, 6 vendor stories, 21 ebooks, 10 webinars, 18 tools, 2 spend insights, 873 FAQ entries and 142 testimonials, indexed by the first-party `industry` and `use_case` taxonomies.


    This document is GENERATED by API Evangelist from the site''s own discovery document at https://www.order.co/wp-json/ (saved verbatim as examples/orderco-content-discovery.json) and from live anonymous probes on 2026-08-04. Every path, parameter, enum and default here is read out of that discovery document; nothing is invented. Only routes that were verified to return HTTP 200 anonymously are included — write routes and the administrative namespaces (redirection/v1, post-smtp, psd/v1, leadin/v1, wp-abilities/v1, wp-site-health/v1, wp/v2/users, wp/v2/settings) are deliberately excluded because they return 401 rest_forbidden to the public.'
  contact:
    name: Order.co
    url: https://www.order.co/demo/
  termsOfService: https://www.order.co/terms-and-conditions/
  x-provenance:
    method: generated
    source: https://www.order.co/wp-json/
    generated: '2026-08-04'
    note: Generated by API Evangelist from the WordPress REST discovery document Order.co serves itself, plus live anonymous probes. Order.co does not publish an OpenAPI.
servers:
- url: https://www.order.co/wp-json
  description: Production
security: []
tags:
- name: Discovery
  description: Self-describing route, type and taxonomy introspection.
paths:
  /:
    get:
      operationId: getDiscovery
      summary: API discovery document
      description: 'The WordPress REST API index for www.order.co: site name, description, url, home, gmt_offset, timezone_string, namespaces, authentication block and the full machine-readable route table with per-parameter schemas. This document is the source this OpenAPI was generated from.'
      tags:
      - Discovery
      responses:
        '200':
          description: Discovery document
          content:
            application/json:
              schema:
                type: object
  /wp/v2/types:
    get:
      operationId: listTypes
      summary: List registered content types
      description: Returns every registered post type with its rest_base, labels, supported taxonomies and field schema — including the Order.co custom types customer_story, vendor_story, ebook, webinar, tool, spend_insight, faqs and testimonials.
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Content types
          content:
            application/json:
              schema:
                type: object
  /wp/v2/taxonomies:
    get:
      operationId: listTaxonomies
      summary: List registered taxonomies
      description: Returns every registered taxonomy with its rest_base and the post types it applies to — including the Order.co custom taxonomies `industry` and `use_case`.
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: Limit results to taxonomies associated with a specific post type.
      responses:
        '200':
          description: Taxonomies
          content:
            application/json:
              schema:
                type: object
  /wp/v2/statuses:
    get:
      operationId: listStatuses
      summary: List post statuses
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Post statuses
          content:
            application/json:
              schema:
                type: object
