openapi: 3.2.0
info:
  title: Order.co Content Newsroom API
  version: wp/v2
  summary: The public, anonymous WordPress REST API behind www.order.co.
  description: Order.co runs www.order.co on WordPress and leaves the WordPress REST API open for anonymous reads.
  contact:
    name: Order.co
    url: https://www.order.co/demo/
  termsOfService: https://www.order.co/terms-and-conditions/
  x-provenance:
    method: generated
    source: https://www.order.co/wp-json/
    generated: '2026-08-04'
    note: Generated by API Evangelist from the WordPress REST discovery document Order.co serves itself, plus live anonymous probes. Order.co does not publish an OpenAPI.
servers:
- url: https://www.order.co/wp-json
  description: Production
security: []
tags:
- name: Newsroom
  description: First-party cn/v1 theme namespace.
paths:
  /cn/v1/press-releases:
    get:
      operationId: listPressReleases
      summary: Newsroom press releases (rendered)
      description: First-party custom namespace registered by the Order.co theme. Returns a single `html` string containing the rendered newsroom card markup rather than structured records. The discovery document declares no parameters for this route.
      tags:
      - Newsroom
      responses:
        '200':
          description: Rendered press-release markup
          content:
            application/json:
              schema:
                type: object
                properties:
                  html:
                    type: string
  /cn/v1/resources:
    get:
      operationId: listResources
      summary: Resource hub index
      description: First-party custom namespace registered by the Order.co theme. Returns a `resources` array of raw WP post records spanning the blog, ebooks, webinars, tools and customer stories that back www.order.co/resources/. The response was 8.9 MB at capture time and the discovery document declares no parameters, so there is no server-side paging on this route.
      tags:
      - Newsroom
      responses:
        '200':
          description: Resource records
          content:
            application/json:
              schema:
                type: object
                properties:
                  resources:
                    type: array
                    items:
                      type: object
