openapi: 3.2.0
info:
  title: Order.co Status Incidents API
  version: v2
  summary: The public, unauthenticated status API for the Order.co platform, served by Atlassian Statuspage at status.order.co.
  description: Order.co publishes a public status page at https://status.order.co/, hosted on Atlassian Statuspage (page id ckzwmwkw4x3f).
  contact:
    name: Order.co
    url: https://www.order.co/demo/
  termsOfService: https://www.order.co/terms-and-conditions/
  x-provenance:
    method: generated
    source: https://status.order.co/api
    generated: '2026-08-04'
    note: Generated by API Evangelist from the Order.co-hosted Statuspage v2 endpoint reference plus live anonymous probes; not published as an OpenAPI by Order.co or Atlassian.
servers:
- url: https://status.order.co/api/v2
  description: Production (Atlassian Statuspage, page id ckzwmwkw4x3f)
security: []
tags:
- name: Incidents
  description: Open and historical incidents with their dated updates.
paths:
  /incidents.json:
    get:
      operationId: listIncidents
      summary: List all incidents
      description: Every incident on the page, most recent first, each with its full incident_updates history. One record existed at capture time and it was the Statuspage default sample.
      tags:
      - Incidents
      responses:
        '200':
          description: Incidents
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    $ref: '#/components/schemas/Page'
                  incidents:
                    type: array
                    items:
                      $ref: '#/components/schemas/Incident'
              examples:
                live:
                  externalValue: examples/orderco-status-incidents.json
  /incidents/unresolved.json:
    get:
      operationId: listUnresolvedIncidents
      summary: List currently unresolved incidents
      description: Only incidents that are not yet resolved. Empty array at capture time. This is the endpoint to poll for an active-outage check.
      tags:
      - Incidents
      responses:
        '200':
          description: Unresolved incidents
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    $ref: '#/components/schemas/Page'
                  incidents:
                    type: array
                    items:
                      $ref: '#/components/schemas/Incident'
              examples:
                live:
                  externalValue: examples/orderco-status-incidents-unresolved.json
components:
  schemas:
    IncidentUpdate:
      type: object
      description: One dated update posted against an incident.
      properties:
        id:
          type: string
        status:
          type: string
          enum:
          - investigating
          - identified
          - monitoring
          - resolved
          - postmortem
        body:
          type: string
        incident_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        display_at:
          type: string
          format: date-time
        affected_components:
          type:
          - array
          - 'null'
          items:
            type: object
        deliver_notifications:
          type: boolean
        custom_tweet:
          type:
          - string
          - 'null'
        tweet_id:
          type:
          - string
          - 'null'
      required:
      - id
      - status
      - body
      - incident_id
    Incident:
      type: object
      description: An incident and its full update history.
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
          - investigating
          - identified
          - monitoring
          - resolved
          - postmortem
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        monitoring_at:
          type:
          - string
          - 'null'
          format: date-time
        resolved_at:
          type:
          - string
          - 'null'
          format: date-time
        impact:
          type: string
          enum:
          - none
          - minor
          - major
          - critical
        shortlink:
          type: string
          format: uri
          description: stspg.io short URL for the incident.
        started_at:
          type: string
          format: date-time
        page_id:
          type: string
        incident_updates:
          type: array
          items:
            $ref: '#/components/schemas/IncidentUpdate'
        components:
          type: array
          items:
            $ref: '#/components/schemas/Component'
        reminder_intervals:
          type:
          - string
          - 'null'
      required:
      - id
      - name
      - status
      - impact
      - page_id
    Component:
      type: object
      description: One reported service. Fields as observed in the live components response.
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          description: Component health. Observed value "operational".
          enum:
          - operational
          - degraded_performance
          - partial_outage
          - major_outage
          - under_maintenance
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        position:
          type: integer
        description:
          type:
          - string
          - 'null'
        showcase:
          type: boolean
        start_date:
          type:
          - string
          - 'null'
          format: date
        group_id:
          type:
          - string
          - 'null'
        page_id:
          type: string
        group:
          type: boolean
        only_show_if_degraded:
          type: boolean
      required:
      - id
      - name
      - status
      - page_id
    Page:
      type: object
      description: Identity of the status page itself. Present on every response.
      properties:
        id:
          type: string
          description: Statuspage page code. Observed value ckzwmwkw4x3f.
        name:
          type: string
          description: Display name. Observed value "Order".
        url:
          type: string
          format: uri
        time_zone:
          type: string
          description: IANA time zone the page renders in. Observed value America/New_York.
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - url
      - updated_at
