openapi: 3.2.0
info:
  title: Order.co Content Search API
  version: wp/v2
  summary: The public, anonymous WordPress REST API behind www.order.co.
  description: Order.co runs www.order.co on WordPress and leaves the WordPress REST API open for anonymous reads.
  contact:
    name: Order.co
    url: https://www.order.co/demo/
  termsOfService: https://www.order.co/terms-and-conditions/
  x-provenance:
    method: generated
    source: https://www.order.co/wp-json/
    generated: '2026-08-04'
    note: Generated by API Evangelist from the WordPress REST discovery document Order.co serves itself, plus live anonymous probes. Order.co does not publish an OpenAPI.
servers:
- url: https://www.order.co/wp-json
  description: Production
security: []
tags:
- name: Search
  description: Cross-type search.
paths:
  /wp/v2/search:
    get:
      operationId: search
      summary: Search across published content
      description: Cross-type search returning id, title, url, type and subtype. 306 results for `search=procurement` at capture time.
      tags:
      - Search
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
        description: Limit results to items of an object type.
      - name: subtype
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post
            - page
            - customer_story
            - spend_insight
            - vendor_story
            - category
            - post_tag
            - industry
            - use_case
            - any
          default: any
        description: Limit results to items of one or more object subtypes.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to specific IDs.
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
